---
import Section from '../Section.astro'

import { speaking } from '@cv'
---

{
  speaking && speaking.length > 0 && (
    <Section className={Astro.props.className} title='Speaker'>
      <ul class='space-y-4 py-3 print:space-y-0'>
        {speaking.map(({ event, location, date, topic, description }) => {
          const eventYear = new Date(date).getFullYear()
          const eventMonth = new Date(date).toLocaleDateString('en-US', { month: 'short' })
          const eventDate = `${eventMonth} ${eventYear}`
          
          return (
            <li class='flex items-baseline'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='mr-2 hidden h-5 w-5 self-start md:inline-block print:hidden text-skin-hue'>
                <path d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z' />
                <path d='M19 10v2a7 7 0 0 1-14 0v-2' />
                <line x1='12' x2='12' y1='19' y2='22' />
                <line x1='8' x2='16' y1='22' y2='22' />
              </svg>
              <div class='relative w-full items-baseline justify-between gap-2'>
                <h3 class='mr-6 items-baseline gap-x-2 gap-y-0.5 font-medium text-skin-base'>
                  {topic}
                </h3>
                <div class='text-sm font-medium text-skin-muted'>{event}</div>
                <div class='text-sm text-skin-muted'>{location}</div>
                <div class='text-sm text-skin-muted mt-1'>{description}</div>
                <time data-ccursor='lift' class='right-0 top-0 text-xs text-skin-muted md:absolute md:block sm:hover:text-skin-hue'>
                  {eventDate}
                </time>
              </div>
            </li>
          )
        })}
      </ul>
    </Section>
  )
}